/*VARIABLES*/
:root {
  /*COLORS*/
  /*general*/
  --primary-color: #cf649a;
  /*code preview*/
  --code-color: #006666;
  --code-bg-color: #f8f8f8;
  --code-border-color: #c5c5c5;
  --selector-color: #445588;
  --property-color: #990000;
  --punctuation-color: #31333a;
  --mix-include-color: #000000;
  /*warning*/
  --warning-bg-color: #fcf7fa;
  --warning-border-color: #eecdde;
  /*fact*/
  --fact-bg-color: #f6f9f9;
  --fact-border-color: #c8dada;

  /*SPACING*/
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 40px;
}

/*GENERAL*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: var(--spacing-0);
}

a {
  text-decoration: none;
}

code {
  display: block;
}

/*NAV*/
.main-title {
  color: var(--primary-color);
}

.main-title,
.nav-item {
  padding-left: var(--spacing-4);
}

.nav-item {
  padding-bottom: var(--spacing-4);
}

.nav-item a,
.more-item a {
  color: black;
}

.nav-item a:hover,
.more-item a:hover {
  color: var(--primary-color);
  transition: 0.2s;
}

/*MAIN*/
.main-doc {
  padding: var(--spacing-0) var(--spacing-5) var(--spacing-2);
}

.main-section {
  margin-top: var(--spacing-6);
}

/*CODE PREVIEW*/
.code-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--spacing-3);
}

.code-preview-item pre code {
  min-height: 250px;
}

.code-preview-large {
  display: grid;
  grid-template-columns: 1fr;
}

pre code {
  background-color: var(--code-bg-color);
  font-size: inherit;
  color: var(--code-color);
  border: 1px solid var(--code-border-color);
  padding: var(--spacing-5);
}

.selector,
.property,
.mix,
.state {
  font-weight: bold;
}

.selector {
  color: var(--selector-color);
}

.property {
  color: var(--property-color);
}

.punctuation {
  color: var(--punctuation-color);
}

.mix {
  color: var(--mix-include-color);
}

/*WARNING*/
.warning {
  background-color: var(--warning-bg-color);
  border: 1px solid var(--warning-border-color);
  padding: var(--spacing-5);
}

/*FACT*/
.fact {
  background-color: var(--fact-bg-color);
  border: 1px solid var(--fact-border-color);
  padding: var(--spacing-5);
}

/*MEDIA QUERIES*/
@media only screen and (min-device-width: 816px) {
  .navbar {
    display: fixed;
    top: var(--spacing-0);
    left: var(--spacing-0);
    width: 25%;
    height: 100%;
  }

  .main-doc {
    position: absolute;
    top: var(--spacing-0);
    right: var(--spacing-0);
    width: 75%;
    height: 100%;
  }
}

@media only screen and (max-width: 815px) {
  /*change layout*/
  #navbar {
    position: absolute;
    top: var(--spacing-0);
    left: var(--spacing-0);
    width: 100%;
    max-height: 550px;
    text-align: center;
    z-index: 1;
  }

  .main-doc {
    position: relative;
    margin-top: 550px;
    width: 100%;
  }

  .code-preview {
    max-width: auto;
  }
}

@media only screen and (max-width: 1350px) {
  .code-preview {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
}
